/* sm = 200x300, md = 300x450, lg = 400x600 */

* {
  --var-container-border: 1.5px;
  --var-padding: 12px;
  --var-vertical-sm-width: 200px;
  --var-vertical-md-width: 300px;
  --var-vertical-lg-width: 400px;
  --var-horizontal-sm-width: 300px;
  --var-horizontal-md-width: 450px;
  --var-horizontal-lg-width: 600px;
}

.cam-container {
  background: var(--bs-gray-900);
  border-radius: 10px;
  border: var(--var-container-border) groove var(--bs-gray-700);
  padding: 0px;
  /*width: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-feed-v-md-width));*/
}

.cam-vertical.cam-sm select, .cam-vertical.cam-md select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0px 3px;
}

.cam-sm .drag-handle {
  font-size: 14px !important;
}

.cam-md .drag-handle {
  font-size: 16px !important;
}

.cam-lg .btn {
  padding: 3px 6px;
  font-size: 12px !important;
}

.cam-md .btn {
  padding: 2px 4px;
  font-size: 10px !important;
}

.cam-sm .btn {
  padding: 2px 4px;
  font-size: 9px !important;
}

.cam-vertical.cam-sm {
  font-size: 9px !important;
  width: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-vertical-sm-width)) !important;
  height: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-vertical-sm-height)) !important;
}

.cam-vertical.cam-md {
  width: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-vertical-md-width)) !important;
  height: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-vertical-md-height)) !important;
}

.cam-vertical.cam-lg {
  width: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-vertical-lg-width)) !important;
  height: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-vertical-lg-height)) !important;
}

.cam-horizontal.cam-sm {
  font-size: 9px !important;
  width: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-horizontal-sm-width)) !important;
  height: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-horizontal-sm-height)) !important;
}

.cam-horizontal.cam-md {
  width: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-horizontal-md-width)) !important;
  height: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-horizontal-md-height)) !important;
}

.cam-horizontal.cam-lg {
  width: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-horizontal-lg-width)) !important;
  height: calc((var(--var-padding) + var(--var-container-border))*2 + var(--var-horizontal-lg-height)) !important;
}

