<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   Server | vfx_cams
  </title>
  <link href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='assets/css/jquery.gridstrap.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='assets/css/cam_size.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <div class="container-fluid overflow-hidden p-0">
   <div class="row vh-100 overflow-auto" id="wrapper" style="margin: 0px;">
    <div class="col-3 d-flex sticky-top" id="sidebar-wrapper" style="background: var(--bs-gray-900);padding: 12px;min-width: 120px;max-width: 200px;">
     <div>
      <div class="container" style="padding: 0px 12px;">
       <div class="row" style="margin: 0px -12px;">
        <div class="col-md-12" style="padding: 0px;padding-left: 6px;">
         <span class="d-grid float-start" style="padding-right: 8px;">
          Size:
         </span>
         <select class="d-grid float-start mb-auto" id="cam_set_res" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;font-size: 12px;border: 0.5px groove var(--bs-gray-dark);margin: 0px;" title="Frame Size">
          <option value="lg">
           Large
          </option>
          <option value="md">
           Medium
          </option>
          <option selected="" value="sm">
           Small
          </option>
         </select>
        </div>
       </div>
       <div class="row" style="margin: 0px -12px;margin-top: 6px;margin-right: 0px;">
        <div class="col-12" style="padding-left: 6px;padding-top: 12px;">
         <span>
          Cam List
         </span>
        </div>
        <div class="col-12" style="padding: 0px;">
         <button cam_id="C001" class="btn btn-dark btn-sm toggle_cam" style="width: 40px;font-size: 11px;padding: 4px;" type="button">
          C001
         </button>
         <button cam_id="C002" class="btn btn-dark btn-sm toggle_cam" style="width: 40px;font-size: 11px;padding: 4px;" type="button">
          C002
         </button>
         <button cam_id="C003" class="btn btn-dark btn-sm toggle_cam" style="width: 40px;font-size: 11px;padding: 4px;" type="button">
          C003
         </button>
         <button cam_id="C004" class="btn btn-dark btn-sm toggle_cam" style="width: 40px;font-size: 11px;padding: 4px;" type="button">
          C004
         </button>
         <button cam_id="C005" class="btn btn-dark btn-sm toggle_cam" style="width: 40px;font-size: 11px;padding: 4px;" type="button">
          C005
         </button>
         <button cam_id="C006" class="btn btn-dark btn-sm toggle_cam" style="width: 40px;padding: 4px;font-size: 11px;" type="button">
          C006
         </button>
        </div>
        <div class="col-12" style="padding: 0px;">
         <div class="form-check form-switch" style="padding-top: 3px;">
          <input class="form-check-input" id="drag_btn" type="checkbox"/>
          <label class="form-check-label" for="drag_btn">
           Rearrange
          </label>
         </div>
        </div>
       </div>
       <div class="row" style="margin: 0px -12px;margin-top: 6px;margin-right: 0px;">
        <div class="col-12" style="padding-left: 6px;padding-top: 12px;">
         <span>
          Cam Action
         </span>
        </div>
        <div class="col" style="padding: 0px;">
         <div class="btn-group" role="group">
          <button action="actHalfPressShutter" cam_id="Z000" class="btn btn-sm all_cam_action dont_lock" title="Lock" type="button">
           <svg class="bi bi-lock" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z">
            </path>
           </svg>
          </button>
          <button action="actTakePicture" cam_id="Z000" class="btn btn-sm all_cam_action dont_lock" title="Take Photo" type="button">
           <svg class="bi bi-camera" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z">
            </path>
            <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z">
            </path>
           </svg>
          </button>
         </div>
        </div>
       </div>
       <div class="row" style="margin: 0px -12px;margin-top: 6px;margin-right: 0px;">
        <div class="col-12" style="padding-left: 6px;padding-top: 12px;">
         <span>
          Cam Setting
         </span>
        </div>
        <div class="col" style="padding: 0px;">
         <select action="setShutterSpeed" cam_id="Z000" class="d-grid float-start mb-auto all_cam_setting" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;border: 0.5px groove var(--bs-gray-dark);margin: 0px;padding: 4px;" title="Shutter Speed">
          <option value="'1/100'">
           1/100s
          </option>
          <option selected="" value="'1/200'">
           1/200s
          </option>
          <option value="'1/400'">
           1/400s
          </option>
         </select>
         <select action="setFNumber" cam_id="Z000" class="d-grid float-start mb-auto all_cam_setting" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;border: 0.5px groove var(--bs-gray-dark);padding: 4px;" title="Aperture">
          <option value="'2.8'">
           2.8
          </option>
          <option selected="" value="'4.0'">
           4.0
          </option>
          <option value="'5.6'">
           5.6
          </option>
          <option value="'8.0'">
           8.0
          </option>
         </select>
         <select action="setIsoSpeedRate" cam_id="Z000" class="d-grid float-start mb-auto all_cam_setting" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;border: 0.5px groove var(--bs-gray-dark);padding: 4px;" title="ISO">
          <option value="'100'">
           100
          </option>
          <option selected="" value="'200'">
           200
          </option>
          <option value="'400'">
           400
          </option>
          <option value="'800'">
           800
          </option>
         </select>
         <select action="setWhiteBalance" cam_id="Z000" class="d-grid float-start mb-auto all_cam_setting" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;border: 0.5px groove var(--bs-gray-dark);padding: 4px;" title="White Balance">
          <option value="'Color Temperature', True, 2500">
           2500K
          </option>
          <option selected="" value="'Color Temperature', True, 3200">
           3200K
          </option>
          <option value="'Color Temperature', True, 4000">
           4000K
          </option>
          <option value="'Color Temperature', True, 5500">
           5500K
          </option>
         </select>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="col-9" id="content-wrapper" style="padding: 20px;background: var(--bs-gray-800);">
     <main class="float-start row overflow-auto" id="multiview" style="margin: 0px;">
     </main>
     <div class="container float-start cam-container cam-horizontal cam-sm" id="Z000" style="margin-right: var(--var-padding);margin-bottom: var(--var-padding);margin-left: var(--var-padding);">
      <div class="row" style="width: 100%;margin: 0px;height: 12px;">
       <div class="col d-block float-start d-lg-flex d-xxl-flex justify-content-lg-center align-items-lg-start justify-content-xxl-center align-items-xxl-start" style="text-align: center;position: relative;padding: 0px;">
        <svg class="bi bi-grip-horizontal drag-handle" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
         <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
         </path>
        </svg>
       </div>
      </div>
      <div class="row" style="margin: 0px;padding: 0px;">
       <div class="col-auto" style="padding: 0px;">
        <div class="row" style="margin: 0px;">
         <div class="col" style="padding: 0px;padding-left: 12px;">
          <span class="header_name" style="min-width: 42px;">
           Z000
          </span>
          <span class="header_status">
           Ready
          </span>
         </div>
        </div>
        <div class="row d-flex align-items-end" style="margin: 0px;">
         <div class="col" style="padding: 0px;padding-left: 12px;">
          <select action="setShutterSpeed" cam_id="Z000" class="d-grid float-start mb-auto cam_setting" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;border: 0.5px groove var(--bs-gray-dark);margin: 0px;" title="Shutter Speed">
           <option value="'1/100'">
            1/100s
           </option>
           <option selected="" value="'1/200'">
            1/200s
           </option>
           <option value="'1/400'">
            1/400s
           </option>
          </select>
          <select action="setFNumber" cam_id="Z000" class="d-grid float-start mb-auto cam_setting" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;border: 0.5px groove var(--bs-gray-dark);" title="Aperture">
           <option value="'2.8'">
            2.8
           </option>
           <option selected="" value="'4.0'">
            4.0
           </option>
           <option value="'5.6'">
            5.6
           </option>
           <option value="'8.0'">
            8.0
           </option>
          </select>
          <select action="setIsoSpeedRate" cam_id="Z000" class="d-grid float-start mb-auto cam_setting" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;border: 0.5px groove var(--bs-gray-dark);" title="ISO">
           <option value="'100'">
            100
           </option>
           <option selected="" value="'200'">
            200
           </option>
           <option value="'400'">
            400
           </option>
           <option value="'800'">
            800
           </option>
          </select>
          <select action="setWhiteBalance" cam_id="Z000" class="d-grid float-start mb-auto cam_setting" style="background: var(--bs-gray-900);color: var(--bs-gray-600);display: inline-flex;border: 0.5px groove var(--bs-gray-dark);" title="White Balance">
           <option value="'Color Temperature', True, 2500">
            2500K
           </option>
           <option selected="" value="'Color Temperature', True, 3200">
            3200K
           </option>
           <option value="'Color Temperature', True, 4000">
            4000K
           </option>
           <option value="'Color Temperature', True, 5500">
            5500K
           </option>
          </select>
         </div>
        </div>
       </div>
       <div class="col align-self-end" style="position: relative;padding: 0px;padding-right: 12px;">
        <div class="row d-flex justify-content-end" style="margin: 0px;">
         <div class="col-auto float-end" style="padding: 0px;">
          <div class="btn-group" role="group">
           <button action="actZoom" cam_id="Z000" class="btn btn-sm cam_action" param="'in', '1shot'" title="Zoom In" type="button">
            <svg class="bi bi-plus-lg" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
             <path d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" fill-rule="evenodd">
             </path>
            </svg>
           </button>
           <button action="actZoom" cam_id="Z000" class="btn btn-sm cam_action" param="'out', '1shot'" title="Zoom Out" type="button">
            <svg class="bi bi-dash-lg" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
             <path d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" fill-rule="evenodd">
             </path>
            </svg>
           </button>
           <button action="rotate" cam_id="Z000" class="btn btn-sm cam_action" param="1" title="Rotate" type="button">
            <svg class="bi bi-arrow-clockwise" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
             <path d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" fill-rule="evenodd">
             </path>
             <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
             </path>
            </svg>
           </button>
          </div>
         </div>
         <div class="col-auto float-end" style="padding: 0px;">
          <div class="btn-group" role="group">
           <button class="btn btn-sm cam_btn_focus" title="Focus" type="button">
            <svg class="bi bi-bullseye" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
             <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
             </path>
             <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
             </path>
             <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z">
             </path>
             <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z">
             </path>
            </svg>
           </button>
           <button action="actHalfPressShutter" cam_id="Z000" class="btn btn-sm cam_action dont_lock" title="Lock" type="button">
            <svg class="bi bi-lock" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
             <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z">
             </path>
            </svg>
           </button>
           <button action="actTakePicture" cam_id="Z000" class="btn btn-sm cam_action dont_lock" title="Take Photo" type="button">
            <svg class="bi bi-camera" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
             <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z">
             </path>
             <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z">
             </path>
            </svg>
           </button>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="row" style="margin: 0px;">
       <div class="col-auto text-center m-auto" style="padding-top: var(--var-padding);padding-right: var(--var-padding);padding-left: var(--var-padding);padding-bottom: 3px;">
        <img class="cam_feed_img" src="{{ url_for('video_feed') }}" style="width: 100%;height: 100%;"/>
       </div>
      </div>
      <div class="row" style="margin: 0px;padding-bottom: 3px;">
       <div class="col">
        <p style="font-size: 8px;margin: 0px;color: var(--bs-gray-600);overflow: clip;max-height: 15px;">
         Project_Task_Cam_Filename_YYYY_MM_DD_HH_MM_SS.jpg
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='assets/js/jquery.gridstrap.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='assets/js/btn_action.js') }}">
  </script>
  <script src="{{ url_for('static', filename='assets/js/btn_action_server.js') }}">
  </script>
 </body>
</html>